<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <nav th:fragment="nav" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mx-2" href="#"><h2>VaccIndo</h2></a>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item"><a class="nav-link mx-1" href="http://vaccindo.herokuapp.com/">Beranda</a></li>
            <li class="nav-item">
                <a class="nav-link mx-1" href="http://vaccindo.herokuapp.com/berita/lihat">Berita</a>
            </li>
            <li class="nav-item"><a class="nav-link mx-1" th:href="@{/donasi/input/}">Donasi</a></li>
            <li class="nav-item"><a class="nav-link mx-1" href="http://vaccindo.herokuapp.com/hospital">Rumah Sakit</a></li>
            <li class="nav-item"><a class="nav-link mx-1" href="http://vaccindo.herokuapp.com/daftar-vaksinasi">Daftar Vaksinasi</a></li>
            <li class="nav-item"><a class="nav-link mx-1" href="#">Profil</a></li>
        </ul>
    </nav>
    <footer th:fragment="footer" class="text-center mb-2">
        <h3>© Vaccindo</h3>
    </footer>
</body>
</html>