<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>VaccIndo</title>
</head>
<body>
<div th:replace="generalUser.html :: nav"> </div>
<div class="container py-3">
    <div class="row text-center">
        <div class="mx-auto col-md-8">
            <h1 class="mb-4">Mari Bersama Tuntaskan Covid-19!</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="mx-auto col-md-8 p-3" th:if="${listDonasi.isEmpty()}">
            <h4>Belum ada donasi yang terkumpul, yuk donasi sekarang!!</h4>
            </h4>
        </div>
        <div class="mx-auto col-md-8 p-3" th:unless="${listDonasi.isEmpty()}">
            <h4>Donasi Terkumpul:</h4>
            <h4 th:text="${totalDonasi}">
            </h4>
        </div>
    </div>
    <div class="row">
        <a href="http://vaccindo.herokuapp.com/daftar-vaksinasi" >
            <button type="button" class="btn btn-primary">
                Daftar Vaksinasi
            </button>
        </a>
        <br/>
        <a th:href="@{/donasi/input/}">
            <button type="button" class="btn btn-primary">
                Donasi Covid-19
            </button>
        </a>
    </div>
</div>
<div th:replace="generalUser.html :: footer"></div>
</body>
</html>